pipeline/SmartFoodCustomerApiToBlob.json
{
	"name": "SmartFoodCustomerApiToBlob",
	"properties": {
		"activities": [
			{
				"name": "AKVUsername",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://adf-aruplabtest-kv.vault.azure.net/secrets/SmartFoodsRestAPIUsername/048ba240f39744e3bd94ed04adc9cd51?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "AKVPassword",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://adf-aruplabtest-kv.vault.azure.net/secrets/SmartFoodsRestAPIPassword/10b98931e36e4e77a82fa621a5f773d9?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "SmartFoodsLogin",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "AKVUsername",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AKVPassword",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://smartfood.azurewebsites.net/api/SmartFoodsOauth",
					"method": "POST",
					"body": {
						"value": "@json(concat('{\"username\":\"',activity('AKVUsername').output.value,'\",\"password\":\"',activity('AKVPassword').output.value,'\"'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetAccessToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SmartFoodsLogin",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "token",
					"value": {
						"value": "@activity('SmartFoodsLogin').output.token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SmartFoodsCustomersToBlob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetAccessToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "POST",
							"requestBody": {
								"value": "@{json(concat('{\"trans_date\": \"',pipeline().parameters.date,'\",\"dataDomain\" : \"customers\"}'))}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SmartFoodsCustomerApiJson",
						"type": "DatasetReference",
						"parameters": {
							"authCode": {
								"value": "@variables('token')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SmartFoodsDelimitedTextBlob",
						"type": "DatasetReference",
						"parameters": {
							"folder": "customers",
							"filename": {
								"value": "smartfoods_customers_@{replace(pipeline().parameters.date,'-','')}",
								"type": "Expression"
							},
							"filetype": "csv"
						}
					}
				]
			}
		],
		"parameters": {
			"date": {
				"type": "string"
			}
		},
		"variables": {
			"token": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-12T20:32:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}